$white: #ffffff;
$black: #000000;

$menu-hover: #242424;
$accent-color: #663d15;
$disabled-color: #adaba9;

$price-background: #e5e5e5;
$active-submenu-item: #aba9a7;

$page-block-background: #f8f5f2;
$footer-background: #222222;


$tablet-width: 768px;
$desctop-width: 1088px;
$mobile-width-only: 767px;